{
  "openapi": "3.1.0",
  "info": {
    "title": "authentication",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://login.microsoftonline.com"
    }
  ],
  "security": [
    {}
  ],
  "paths": {
    "/revenuestripe.onmicrosoft.com/oauth2/v2.0/token": {
      "post": {
        "summary": "Getting an access token",
        "description": "",
        "operationId": "getting-an-access-token",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "client_id",
                  "client_secret",
                  "grant_type",
                  "scope"
                ],
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "The client ID assigned to you"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "The client secret assigned to you"
                  },
                  "grant_type": {
                    "type": "string",
                    "description": "The grant type. Always use `client_credentials`",
                    "default": "client_credentials"
                  },
                  "scope": {
                    "type": "string",
                    "description": "The scope for partner API access. Always use `api://revenuestripe.onmicrosoft.com/partners/.default`. This scope includes the permissions for all partner endpoints \u2014 advertiser and publisher reporting, campaigns, creatives, and the performance reports. Requesting a different scope commonly results in a 401 \"Not authorized to this endpoint.\", even if the same token works on other endpoints.",
                    "enum": [
                      "api://revenuestripe.onmicrosoft.com/partners/.default"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"token_type\": \"Bearer\",\n  \"expires_in\": 3599,\n  \"ext_expires_in\": 3599,\n  \"access_token\": \"<access token>\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "token_type": {
                      "type": "string",
                      "example": "Bearer"
                    },
                    "expires_in": {
                      "type": "integer",
                      "example": 3599,
                      "default": 0
                    },
                    "ext_expires_in": {
                      "type": "integer",
                      "example": 3599,
                      "default": 0
                    },
                    "access_token": {
                      "type": "string",
                      "example": "<access token>"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error\": \"unauthorized_client\",\n  \"error_description\": \"<detailed message>\",\n  \"error_codes\": [\n    700016\n  ],\n  \"timestamp\": \"2024-01-11 13:42:00Z\",\n  \"trace_id\": \"<trace id>\",\n  \"correlation_id\": \"<correlation id>\",\n  \"error_uri\": \"https://login.microsoftonline.com/error?code=700016\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "unauthorized_client"
                    },
                    "error_description": {
                      "type": "string",
                      "example": "<detailed message>"
                    },
                    "error_codes": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "example": 700016,
                        "default": 0
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "example": "2024-01-11 13:42:00Z"
                    },
                    "trace_id": {
                      "type": "string",
                      "example": "<trace id>"
                    },
                    "correlation_id": {
                      "type": "string",
                      "example": "<correlation id>"
                    },
                    "error_uri": {
                      "type": "string",
                      "example": "https://login.microsoftonline.com/error?code=700016"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": false,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}